body {
  background-color: $background-blue;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-areas:
    "header header"
    "image image"
    "aside main";
  margin: 0;
  font-family: "Quicksand", sans-serif;
  -webkit-font-smoothing: auto;
}

h1 {
  align-self: center;
  color: white;
  font-family: "Sulphur Point", sans-serif;
  font-size: 50px;
  width: 70%;
  margin: 0%;
  padding: 0.5% 0.7% 0%;
}

h2 {
  color: $medium-green;
  margin: 10px 0px 10px 0px;
}

h3 {
  color: $medium-green;
  cursor: pointer;
  height: 17%;
  margin: 5px 5px 10px 0px;
}
