.header {
  grid-area: header;
  display: flex;
  position: relative;
  height: 100px;

  &--brand-name {
    color: $light-green;
  }

  &--apple-icon {
    height: 40px;
    margin-left: 5px;
    width: 35px;
  }

  &--form {
    display: flex;
    justify-content: center;
    border: 3px outset $light-green;
    border-radius: 15px;
    box-shadow: 0px 0px 7px 0px #475d74;
    margin: 1.2% 0.5% 1.2% 0%;
    width: 100%;
  }

  &--buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 20%;
    margin: 2%;
  }
}

.search-input {
  background: -webkit-gradient( linear,left top, left bottom, color-stop(0, rgb(255, 255, 255)), color-stop(1, rgb(225,225,225)));
  border-radius: 10px 0px 0px 10px;
  border: none;
  box-shadow: inset -3px -1px 20px 1px #5c7894;
  color: $background-blue;
  font-size: 2rem;
  outline: none;
  padding: 0% 2% 0% 0%;
  text-align: right;
  transition: .8s ease;
  width: 100%;

  &:hover {
    box-shadow: inset 0px 0px 0px 0px white;
    transition: .8s ease;
  }

  &::placeholder {
    color: $background-blue;
    font-size: 1.5rem;
  }
}

.search-input:focus {
  @extend .search-input:hover;

  &::placeholder {
    font-size: 0rem;
    transition: .8s ease;
  }
}

.search-icon {
  border-left: 3px outset $light-green;
  padding: 1%;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    height: 2rem;
  }
}

.search-label {
  display: none;
}

.button-nav {
  background: $background-blue no-repeat;
  border: none;
  cursor: pointer;
  font-size: 0px;
  margin: 0%;
  outline: none;
  text-align: center;
  font-family: $primary-font;
  transition: .4s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &:hover {
    color: $light-green;
    font-size: .85rem;
    font-weight: bold;
    text-shadow: 0px 2px 4px black;
    transition: .4s ease;
  }

  img {
    max-height: 40px;
    max-width: 40px;
    padding: 10px;
  }
}


// RESPONSIVE BREAKPOINTS
@media screen and (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: center;
    height: auto;

    &--form {
      width: auto;
    }
  }

  h1 {
    width: auto;
    margin: 2%;
  }

  .button-nav {
    width: auto;
    color: #C4EB67;
    font-size: .85rem;
    font-weight: bold;
    text-shadow: 0px 2px 4px black;
    transition: .4s ease;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}
