main {
  align-content: flex-start;
  display: flex;
  grid-area: main;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.hidden,
.display-favorites .recipe--card:not(.favorite) {
  display: none !important;
}

.recipe--card {
  height: 300px;
  width: 250px;
  background-color: white;
  border: 2px solid $dark-green;
  border-radius: 7px;
  margin: 20px;
  padding: 15px;
  position: relative;
  cursor: pointer;

  &:hover {
    transition: .8s ease;

    h3 {
      text-shadow: 0px 0px 4px $light-green;
    }

    .recipe--photo {
      opacity: 50%;
    }

    .recipe--hover-text {
      font-size: 20px;
      opacity: 100%;
      width: 100%;
    }
  }
}

.recipe--hover-text {
  background: $medium-green;
  color: white;
  font-weight: 700;
  opacity: 0%;
  padding: 0%;
  position: absolute;
  text-align: center;
}

.recipe--photo-container {
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.recipe--photo {
  height: 130px;
  width: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 7px;
  transition: .8s ease;
  cursor: pointer;
}

.recipe--tags {
  max-width: 200px;
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;

  span {
    color: $dark-green;
    border: 1px solid $apple-green;
    border-radius: 3px;
    margin: 0px 2px 2px 0px;
    padding: 1px 4px 1px 4px;
    font-weight: bold;
  }
}

.recipe--apple-icon {
  height: 50px;
  width: 45px;
  bottom: 10px;
  right: 15px;
  position: absolute;
}
