/* BANNER IMAGE*/
.banner {
  background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)),url("../images/green-apples.jpg");
  grid-area: image;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 150px;
  overflow: hidden;
  width: 100%;

  h1 {
    text-align: center;
    width: 100%;
  }
}

.banner--recipes {
  align-items: center;
  display: none;
  flex-direction: column;
  justify-content: center;
}


/* FILTER SIDEBAR */
aside {
  background-color: white;
  display: flex;
  justify-content: center;
  height: auto;
  text-align: center;
}

.wrap {
  background-color: white;
  height: 100vh;
  padding: 10px;
  position: relative;
  width: 200px;
}

.list-tags {
  list-style-type: none;
  text-align: left;
  padding-left: 35px;

  li {
    margin: 2px;
  }
}


/* BUTTONS */
.button-show-all,
.button-filter {
  background-color: #359567;
  border: 0;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  font-family: "Quicksand", sans-serif;
  font-size: 14pt;
  font-weight: bold;
  padding: 5px 10px 5px 10px;

  &:hover {
    background-color: #84C8A4;
  }

  &:disabled {
    background-color: #84C8A4;
    cursor: default !important;
  }
}

.button-show-all {
  height: 40px;
  margin-top: 20px;
  width: 200px;
}


/* PANTRY LIST */
.menu-pantry {
  align-items: center;
  background-color: #DAE4EE;
  display: none;
  max-height: 60vh;
  overflow: scroll;
  padding: 12px;
  position: absolute;
  text-align: center;
  top: 85%;
  right: 1px;
  width: 250px;
  z-index: 3;

  h2 {
    color: #359567;
    margin: 0px;
  }
}

.list-pantry {
  color: #000000;
  padding-left: 15px;
  text-align: left;
}

// MOBILE BREAKPOINTS
@media screen and (max-width: 768px) {
  .menu-pantry {
    top: 93%;
    max-height: 85vh;
    right: auto;
  }
}
