/* BANNER IMAGE*/
.banner {
  background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)),url("../images/green-apples.jpg");
  grid-area: image;
  display: flex;
  justify-content: center;
  background-size: cover;
  height: 150px;

  h2 {
    text-align: center;
    width: 100%;
  }
}

.banner--recipes {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* FILTER SIDEBAR */
aside {
  background-color: white;
  text-align: center;
  color: $dark-green;
}

.wrap {
  height: 100vh;
  width: 200px;
  padding: 10px;
}

.list-tags {
  list-style-type: none;
  text-align: left;
  padding-left: 35px;

  li {
    margin: 2px;
  }
}

/* BUTTONS */
.button-filter,
.button-show-all {
  background-color: $medium-green;
  border: 0;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  font-family: $primary-font;
  font-size: 14pt;
  font-weight: bold;
  padding: 5px 10px;

  &:hover,
  &:disabled {
    background-color: $button-hover;
  }

  &:disabled {
    cursor: default !important;
  }
}

.button-show-all {
  height: 40px;
  margin-top: 20px;
  width: 200px;
}

/* PANTRY LIST */
.menu-pantry {
  display: none;
  background-color: $gray;
  max-height: 60vh;
  overflow: scroll;
  padding: 3%;
  position: absolute;
  top: 85%;
  right: 1px;
  width: 250px;
  z-index: 3;
  color: $dark-green;
  box-shadow: $pop-up-shadow;

  h3 {
    color: $dark-green;
    margin: 0;
    padding-bottom: 5%;
  }

  th {
    font-weight: bold;
    text-align: left;
  }

  td {
    margin: 2px;
  }

  .amount {
    text-align: center;
  }
}

.list-pantry {
  color: $dark-green;
  margin-top: 15px;
  text-align: left;
}

// MOBILE BREAKPOINTS
@media screen and (max-width: 768px) {
  .menu-pantry {
    top: 93%;
    max-height: 85vh;
    right: auto;
  }
}
