body {
  background-color: #5B7894;
  display: grid;
  font-family: "Quicksand", sans-serif;
  grid-template-columns: 1fr 5fr;
  grid-template-areas:
    "header header"
    "image image"
    "aside main";
  height: 100vh;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: auto;
}

h1 {
  align-self: center;
  color: white;
  font-family: "Sulphur Point", sans-serif;
  font-size: 50px;
  margin: 0%;
  padding: 0.5% 0.7% 0%;
  width: 70%;
}

h2 {
  color: #84C8A4;
  margin: 10px 0px 10px 0px;
}

h3 {
  color: #359567;
  cursor: pointer;
  height: 17%;
  margin: 5px 5px 10px 0px;
  transition: .8s ease;
}

/* HEADER */
header {
  display: flex;
  flex-direction: row;
  grid-area: header;
  min-height: 90px;
  padding: 0% 0%;
  position: relative;
  width: 100%;
}

span {
  color: #C4EB67;
  font-weight: 400;
}

.header--apple-icon {
  height: 40px;
  margin-left: 5px;
  width: 35px;
}

.header--form {
  border-radius: 15px 15px 15px 15px;
  border: 3px outset #C4EB67;
  box-shadow: 0px 0px 7px 0px #475d74;
  display: flex;
  flex-direction: row;
  font-family: "Quicksand", sans-serif;
  justify-content: center;
  margin: 1.2% 0.5% 1.2% 0%;
  width: 100%;
}

#search-input {
  background-color: #b6dcca;
  background: -webkit-gradient( linear,left top, left bottom, color-stop(0, rgb(255, 255, 255)), color-stop(1, rgb(225,225,225)));
  border-radius: 10px 0px 0px 10px;
  border: none;
  box-shadow: inset -3px -1px 20px 1px #5c7894;
  color: #5B7894;
  font-family: "Quicksand", sans-serif;
  font-size: 42px;
  height: 100%;
  outline: none;
  padding: 0% 2% 0% 0%;
  text-align: right;
  transition: .8s ease;
  width: 100%;

  &:hover {
    box-shadow: inset 0px 0px 0px 0px white;
    transition: .8s ease;
  }

  &:focus {
    box-shadow: inset 0px 0px 0px 0px white;

    &::placeholder {
      font-size: 0px;
      transition: .8s ease;
    }
  }

  &::placeholder {
    color: #5B7894;
    font-size: 20px;
    text-align: right;
    text-shadow: none;
  }
}

.search-label {
  display: none;
}

.button-search {
  border-left: 3px outset #C4EB67;
  border-radius: 0px 15px 15px 0px;
  padding: 1%;
}

.button-nav {
  align-items: center;
  background: #5B7894 no-repeat;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-size: 0px;
  font-weight: 700;
  justify-content: center;
  margin: 0%;
  outline: none;
  overflow: hidden;
  text-align: center;
  transition: .4s ease;
  width: 15%;

  &:hover {
    color: #C4EB67;
    font-size: 14px;
    text-shadow: 0px 2px 4px black;
    transition: .4s ease;
  }

  img {
    max-height: 40px;
    max-width: 40px;
    padding: 2px 0px;
  }
}

.button-saved-ing {
  border-left: 3px solid #C4EB67;
}

.button-pantry {
  margin: 1% 0%;
  padding: 1px 6px 5px 0px;
}


/* BANNER IMAGE*/
.banner {
  background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)),url("../images/green-apples.jpg");
  grid-area: image;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 150px;
  overflow: hidden;
  width: 100%;

  h1 {
    text-align: center;
    width: 100%;
  }
}

.banner--recipes {
  align-items: center;
  display: none;
  flex-direction: column;
  justify-content: center;
}


/* FILTER SIDEBAR */
aside {
  background-color: white;
  display: flex;
  justify-content: center;
  height: auto;
  text-align: center;
}

.wrap {
  background-color: white;
  height: 100vh;
  padding: 10px;
  position: relative;
  width: 200px;
}

.list-tags {
  list-style-type: none;
  text-align: left;
  padding-left: 35px;

  li {
    margin: 2px;
  }
}


/* RECIPE CARD SECTION */
main {
  align-content: flex-start;
  display: flex;
  grid-area: main;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.recipe--card {
  background-color: white;
  border: 2px solid #C4EB67;
  border-radius: 7px;
  cursor: pointer;
  height: 270px;
  margin: 20px;
  padding: 15px;
  width: 250px;
  position: relative;
}

.recipe--tags {
  padding: 0px;
  width: max-content;
  max-width: 200px;
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;

  span {
    margin: 0px 2px 2px 0px;
    color: #359567;
    background-color: #C4EB67;
    border-radius: 3px;
    padding: 1px 4px 1px 4px;
    font-weight: bold;
  }
}

.display-favorites .recipe--card:not(.favorite) {
  display: none !important;
}

.hidden {
  display: none !important;
}

.recipe--card:hover .recipe--photo {
  opacity: 50%;
  transition: .8s ease;
}

.recipe--card:hover .recipe--hover-text {
  font-size: 20px;
  opacity: 100%;
  transition: .5s ease;
  width: 100%;
}

.recipe--card:hover h3 {
  text-shadow: 0px 0px 4px #C4EB67;
  transition: .8s ease;
}

.recipe--apple-icon {
  cursor: pointer;
  position: absolute;
  bottom: 10px;
  right: 15px;
  z-index: 1px;
  height: 50px;
  width: 45px;
}

.recipe--hover-text {
  background: #359567;
  color: white;
  font-weight: 700;
  font-size: 0px;
  opacity: 0%;
  padding: 0%;
  position: absolute;
  text-align: center;
  width: 0%;
  transition: .5s ease;
}

.recipe--photo {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 7px;
  cursor: pointer;
  height: 130px;
  transition: .8s ease;
  width: 100%;
}

.recipe--photo-container {
  align-items: center;
  display: flex;
  height: 130px;
  justify-content: center;
  position: relative;
}


/* BUTTONS */
.button-show-all,
.button-filter {
  background-color: #359567;
  border: 0;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  font-family: "Quicksand", sans-serif;
  font-size: 12pt;
  font-weight: bold;
  padding: 5px 10px 5px 10px;

  &:hover {
    background-color: #84C8A4;
  }

  &:disabled {
    background-color: #84C8A4;
    cursor: default !important;
  }
}

.button-show-all {
  height: 40px;
  margin-top: 20px;
  width: 200px;
}


/* PANTRY LIST */
.menu-pantry {
  align-items: center;
  background-color: #DAE4EE;
  display: none;
  max-height: 550px;
  overflow: scroll;
  padding: 12px;
  position: absolute;
  text-align: center;
  top: 85%;
  right: 1px;
  width: 250px;
  z-index: 3;

  h2 {
    color: #359567;
    margin: 0px;
  }
}

.list-pantry {
  color: #000000;
  padding-left: 15px;
  text-align: left;
}


/* RECIPE INSTRUCTIONS */
.button-exit {
  background: white;
  border: 2px double #359567;
  border-radius: 5px;
  color: #359567;
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
  margin: -4% -3% 2% -1%;
  position: fixed;
  transition: .3s ease;

  &:hover {
    background: #C4EB67;
    transition: .3s ease;
  }
}

.modal--bottom {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 95px;
  justify-content: flex-end;

  p {
    display: none;
    margin: 0;
    text-align: left;
    width: 100%;
  }
}

.modal--message-pantry {
  display: none;
  margin-top: 0;
  transition: 1s opacity;
}

.modal--title {
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 7px 7px 0px 0px;
  color: white;
  font-size: 30px;
  margin: 0;
  padding: 5%;
  text-align: center;
  text-shadow: 0px 0px 6px black;
}

.recipe--instructions {
  background: white;
  border: 3px solid #C4EB67;
  border-radius: 10px;
  box-shadow: 1px 1px 115px black;
  display: none;
  height: 70%;
  margin: 0;
  overflow-x: scroll;
  padding: 1% 1% 1% 1%;
  position: fixed;
  right: 15%;
  top: 15%;
  width: 70%;
  z-index: 1000;

  h4 {
    background: white;
    color: #359567;
  }

  p {
    margin-left: 5%;
  }

  ol {
    margin-right: 2%;
  }
}

.overlay {
  filter: alpha(opacity=50);
  display: none;
  background-color: #5B7894;
  height: 100%;
  left: 0;
  opacity: 0.5;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

#modal--shopping-message-yes,
#modal--shopping-message-no {
  font-weight: bold;
  font-style: italic;
}

#modal--shopping-message-yes {
  display: block;
}

.modal--shopping-list {
  display: none;
}

.modal--shopping-table {
  border-collapse: collapse;
  width: 60%;
}

.modal--shopping-table td {
  padding: 0.25rem;
}

.modal--shopping-table th {
  color: #359567;
  background-color: #C4EB67;
  padding: 0.25rem;
  text-align: left;
}

.modal--shopping-table tfoot {
  font-weight: bold;
}

.price {
  text-align: right;
}

.recipe--instructions h4 {
  background: white;
  color: #359567;
}

.recipe--instructions p table {
  margin-left: 2%;
}

.recipe--instructions ol {
  margin-right: 2%;
}
